.footer {
	width: auto;
	margin: 0 auto;
	height: 26rem;
	background-image: linear-gradient(
		to bottom,
		black,
		black,
		black,
		black,
		black,
		black,
		black,
		black,
		black,
		black,
		black,
		$color-primary
	);
	padding-bottom: 15rem;
}

.footer-container {
	max-width: 120rem;
}

.footer-text {
	color: white;
	padding: 2rem 0 5rem 0;
	text-align: center;
}

.footer-text-header {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.footer-text-paragraph {
	font-size: 1.7rem;
	color: $color-primary;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	max-width: 80rem;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.footer-grid-call,
.footer-grid-whatsapp,
.footer-grid-mail,
.footer-grid-chat,
.footer-grid-facebook,
.footer-grid-instagram {
	font-size: 1.8rem;
	text-align: center;
}

.footer-grid img {
	height: 2.5rem;
	width: 2.5rem;
}

.footer-grid-text {
	color: white;
	font-size: 1.5rem;
}

.footer-grid-number {
	color: white;
	font-size: 1.2rem;
}

.coopyright {
	margin-top: 2.5rem;
	color: white;
	text-align: center;
}

@media (max-width: 800px) {
	.footer-grid-icon {
		font-size: 2.4rem;
	}

	.footer-grid-number {
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.footer {
		height: 23rem;
	}

	.footer-text {
		color: white;
		padding: 2rem 0 3rem 0;
	}

	.footer-text-header {
		font-size: 2.2rem;
		margin-bottom: 2rem;
	}

	.footer-text-paragraph {
		font-size: 1.2rem;
	}

	.footer-grid-icon {
		font-size: 2.2rem;
	}

	.footer-grid-number {
		font-size: 1rem;
	}

	.coopyright {
		font-size: 1rem;
	}
}

@media (max-width: 550px) {
	.footer {
		height: 32rem;
	}

	.footer-text {
		color: white;
		padding: 2rem 0 3rem 0;
		text-align: center;
		gap: 1rem;
	}

	.footer-text-header {
		font-size: 2rem;
		margin-bottom: 2rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.footer-text-paragraph {
		font-size: 1.2rem;
	}

	.footer-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 1.5rem;
	}

	.footer-grid-icon {
		color: $color-primary;
		font-size: 2.6rem;
	}

	.footer-grid-number {
		color: white;
		font-size: 1.1rem;
	}

	.coopyright {
		font-size: 1rem;
	}
}

@media (max-width: 400px) {
	.footer-text-header {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.footer-grid-icon {
		font-size: 2.4rem;
	}

	.footer-grid-number {
		font-size: 1rem;
	}

	.footer-grid img {
		height: 2rem;
		width: 2rem;
	}

	.coopyright {
		font-size: 0.8rem;
	}
}
